Django==5.2.5
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.7.0
django-redis==6.0.0
psycopg[binary]==3.2.9
pgvector==0.4.1
celery==5.5.3
requests==2.32.4
python-dotenv==1.1.1
uvicorn==0.35.0
gunicorn==23.0.0
osmium==4.1.1
